.left-grid-dash {
  height: calc(100vh - 64px);
  background-color: #ddd;
  margin-top: 5rem;
}

.x-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 1rem !important;
}

.h3-text {
  margin-top: 1rem;
}
